.interacted-with-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.toggle-text {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.details {
    margin-top: 10px;
}
.details h4 {
    margin-top: 10px;
}
  